src/main/mule/modules/pharmacy_public.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- GET ALL (unchanged) -->
    <flow name="pharmacy_public_GetAll">
        <http:listener config-ref="HTTP_Listener_config" path="/pharmacy/medicines/public/all"/>
        <db:select config-ref="pharmacy_service">
            <db:sql><![CDATA[
                SELECT sku, name, brand, unit, strength, price, stock, active
                FROM pharmacy_medicines
                WHERE active = true;
            ]]></db:sql>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET LITE by SKU (unchanged) -->
    <flow name="pharmacy_public_GetBySkuID">
        <http:listener config-ref="HTTP_Listener_config" path="/pharmacy/medicines/sku/{sku}/lite"/>
        <db:select config-ref="pharmacy_service">
            <db:sql><![CDATA[
                SELECT sku, name, brand, price, stock
                FROM pharmacy_medicines
                WHERE sku = :sku AND active = true;
            ]]></db:sql>
            <db:input-parameters><![CDATA[#[{ sku: attributes.uriParams.sku }]]]></db:input-parameters>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload default [])[0]
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- VALIDATE PRESCRIPTION -->
    <flow name="pharmacy_publicFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/pharmacy/validate-prescription" outputMimeType="application/json" allowedMethods="POST"/>

        <!-- Normalize payload -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- VARIABLES -->
        <set-variable variableName="prescriptionId" value="#[payload.prescriptionId]"/>
        <set-variable variableName="items" value="#[payload.items]"/>
        <set-variable variableName="results" value="#[[]]"/>
        <set-variable variableName="i" value="#[0]"/>

        <!-- FOR EACH -->
        <foreach collection="#[vars.items]">
            <db:select config-ref="pharmacy_service">
                <db:sql><![CDATA[
                    SELECT sku, name, brand, price, stock
                    FROM pharmacy_medicines
                    WHERE sku = :sku AND active = true;
                ]]></db:sql>
                <db:input-parameters><![CDATA[#[{
                    sku: payload.sku
                }]]]></db:input-parameters>
            </db:select>

            <!-- Transform each item -->
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/java

var itemInput = payload default []
var requestItem = vars.items[vars.i]

---
if (isEmpty(itemInput)) 
    {
        sku: requestItem.sku,
        requestedQuantity: requestItem.quantity,
        status: "MEDICINE_NOT_FOUND"
    }
else do {
    var db = itemInput[0]
    ---
    if (db.stock >= requestItem.quantity)
        {
            sku: db.sku,
            name: db.name,
            brand: db.brand,
            price: db.price,
            stock: db.stock,
            requestedQuantity: requestItem.quantity,
            status: "AVAILABLE"
        }
    else
        {
            sku: db.sku,
            stock: db.stock,
            requestedQuantity: requestItem.quantity,
            status: "OUT_OF_STOCK"
        }
}
]]></ee:set-payload>
                </ee:message>
            </ee:transform>

            <!-- Append to results -->
            <set-variable variableName="results" value="#[vars.results ++ [payload]]"/>

            <!-- INCREMENT COUNTER -->
            <set-variable variableName="i" value="#[vars.i + 1]"/>
        </foreach>

        <!-- FINAL RESPONSE -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    prescriptionId: vars.prescriptionId,
    validation: vars.results
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>

</mule>
