src/test/munit/pharmacy_payment-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="pharmacy_payment-suite.xml" />
	<munit:test name="pharmacy_paymentFlow-test" doc:id="7c94126f-7d6d-4520-b9e0-c4855e83a55f" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock Insert Pending Purchase Log" doc:id="65cba6b9-8268-4f53-800e-a9e32188f475" processor="db:insert">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="491a4d9b-8701-4425-9b3e-b22be2e79a62" attributeName="doc:id" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:payload value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_payload.dwl')]" mediaType="application/java" encoding="UTF-8" />
					<munit-tools:variables >
						<munit-tools:variable key="purchaseId" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="items" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_1.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="summary" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_2.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="prescriptionId" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_3.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="i" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_4.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="patientId" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_5.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="results" value="#[output application/java --- readUrl('classpath://pharmacypaymentFlowtest\mock_variable_6.dwl')]" mediaType="application/java" encoding="UTF-8" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit:set-event doc:name="Set Input" doc:id="55689643-20e5-4ae1-ad4c-a5392b4dd7e6" >
				<munit:payload value="#[output application/json --- readUrl('classpath://pharmacypaymentFlowtest\set-event_payload.dwl')]" encoding="UTF-8" mediaType="application/json" />
				<munit:attributes value="#[readUrl('classpath://pharmacypaymentFlowtest\set-event_attributes.dwl')]" />
			</munit:set-event>
		</munit:behavior>
		<munit:execution >
			<flow-ref doc:name="Flow-ref to pharmacy_paymentFlow" doc:id="d8ccf4c4-957c-4c3b-8a86-53f6db4c1f74" name="pharmacy_paymentFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert doc:name="Assert payload" doc:id="5766a9ba-1d63-46bf-8592-9d78bbd30ce4" message="The payload does not match">
				<munit-tools:that ><![CDATA[#[%dw 2.0
import pharmacypaymentFlowtest::assert_expression_payload
---
assert_expression_payload::main({payload: payload, attributes: attributes, vars: vars})]]]></munit-tools:that>
			</munit-tools:assert>
		</munit:validation>
	</munit:test>
	<munit:test name="pharmacy_confirmPayment-test" doc:id="cceb0625-7b61-4916-a1a9-bf32bef78397" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock Update purchase_log" doc:id="c7be5540-cc39-48a9-b2ab-2437778b8423" processor="db:update">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="04901552-a1e4-4528-8d98-841281ccb92d" attributeName="doc:id" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:payload value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_payload.dwl')]" mediaType="application/java" encoding="UTF-8" />
					<munit-tools:variables >
						<munit-tools:variable key="purchaseId" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="payableItems" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_1.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="totalAmount" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_2.dwl')]" mediaType="application/java" encoding="UTF-8" />
						<munit-tools:variable key="FOUND" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_3.dwl')]" mediaType="application/java" encoding="UTF-8" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock Update Stock For each Item" doc:id="eea290b7-8597-43e6-bd70-640cd26e43c4" processor="db:update">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="7acc12da-1e12-47ab-811e-fb02d4042185" attributeName="doc:id" />
				</munit-tools:with-attributes>
				<munit-tools:then-call flow="mock-db:update" />
			</munit-tools:mock-when>
			<munit:set-event doc:name="Set Input" doc:id="7fa18daf-c0df-4baa-8061-ef3d8c7b809c" >
				<munit:payload value="#[output application/json --- readUrl('classpath://pharmacyconfirmPaymenttest\set-event_payload.dwl')]" encoding="UTF-8" mediaType="application/json" />
				<munit:attributes value="#[readUrl('classpath://pharmacyconfirmPaymenttest\set-event_attributes.dwl')]" />
			</munit:set-event>
		</munit:behavior>
		<munit:execution >
			<flow-ref doc:name="Flow-ref to pharmacy_confirmPayment" doc:id="8473359e-def4-4004-9a0b-270e62e304f5" name="pharmacy_confirmPayment"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert doc:name="Assert payload" doc:id="39b6ad67-7a7b-4af0-8f04-feebc639e287" message="The payload does not match">
				<munit-tools:that ><![CDATA[#[%dw 2.0
import pharmacyconfirmPaymenttest::assert_expression_payload
---
assert_expression_payload::main({payload: payload, attributes: attributes, vars: vars})]]]></munit-tools:that>
			</munit-tools:assert>
		</munit:validation>
	</munit:test>
	<flow name="mock-db:update" doc:id="8e8ddce6-f378-4d1c-9dc3-8aa39deccbc4" >
		<try doc:name="Try" doc:id="66d760e8-2e28-4ebb-b55e-e437408b3d56" >
			<munit-tools:retrieve doc:name="Retrieve" doc:id="464ccc93-b95a-46ea-adc0-e6486e28ca5d" key="Mock Update Stock For each Item"/>
			<error-handler >
				<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="fc0ab8a1-87a0-46c3-a821-88613f7a3e1f" type="ANY">
					<set-payload value="#[1]" doc:name="Set Payload" doc:id="58338738-f393-4941-bf25-e7b3ab994154" />
				</on-error-continue>
			</error-handler>
		</try>
		<munit-tools:store doc:name="Store" doc:id="34746d5f-60a3-4d38-baeb-eb815a4d565c" key="Mock Update Stock For each Item">
			<munit-tools:value ><![CDATA[#[payload + 1]]]></munit-tools:value>
		</munit-tools:store>
		<choice doc:name="Choice" doc:id="25578d42-db6a-45c1-9ae5-d3c33f0daf99" >
			<when expression="#[payload == 1]">
				<munit:set-event doc:name="Set Event" doc:id="87d1e9db-6780-4d00-8efa-615df3fd8a5e" >
					<munit:payload value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_payload1.dwl')]" encoding="UTF-8" mediaType="application/java" />
					<munit:variables >
						<munit:variable key="payableItems" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_4.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="purchaseId" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_5.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="rootMessage" value="#[readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_6.dwl')]" />
						<munit:variable key="totalAmount" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_7.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="counter" value="#[readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_8.dwl')]" />
						<munit:variable key="FOUND" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_9.dwl')]" encoding="UTF-8" mediaType="application/java" />
					</munit:variables>
				</munit:set-event>
			</when>
			<when expression="#[payload == 2]">
				<munit:set-event doc:name="Set Event" doc:id="6b7c9bc2-3f25-4f71-951a-f59a722e5920" >
					<munit:payload value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_payload2.dwl')]" encoding="UTF-8" mediaType="application/java" />
					<munit:variables >
						<munit:variable key="purchaseId" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_10.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="payableItems" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_11.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="rootMessage" value="#[readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_12.dwl')]" />
						<munit:variable key="totalAmount" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_13.dwl')]" encoding="UTF-8" mediaType="application/java" />
						<munit:variable key="counter" value="#[readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_14.dwl')]" />
						<munit:variable key="FOUND" value="#[output application/java --- readUrl('classpath://pharmacyconfirmPaymenttest\mock_variable_15.dwl')]" encoding="UTF-8" mediaType="application/java" />
					</munit:variables>
				</munit:set-event>
			</when>
			<otherwise >
				<munit-tools:fail doc:name="Fail" doc:id="c4e92345-51db-4f7c-bd84-cb8ba0411181" message="There are no more events to mock"/>
			</otherwise>
		</choice>
	</flow>


</mule>
